/* Opciones generales */
body {
   background-color: #9A831B; /* Color de fondo de todo */
 }
 
 /* Contenedor general */
 .contexto {
   width: 80%; /* Ancho del contenedor */
   color: white; /* Color de los textos en general dentro del contenedor */
   margin: 0 auto; /* Márgenes automáticos para centrarlo en la pantalla */
   margin-top: -5px; /* Margen superior en negativo para darle altura */
 }
 
 /* Menú para las vistas */
 .menu {
   background-color: #4D410D; /* Color del menú */
   display: flex; /* Agregando funciones flexibles en el cuadro */
   justify-content: center; /* Centrar el contenido */
   flex-wrap: wrap; /* Permitir que se ordenen sin que salgan del contenedor */
 }
 
 /* Botón con detalles para todas las vistas */
 button {
   color: white; /* Color del texto en los botones */
   background-color: #4D410D; /* Color de fondo de los botones */
   border: none; /* Botones sin borde */
   width: 180px; /* Ancho de los botones */
   height: 70px; /* Alto de los botones */
 }
 
 button:hover {
   background-color: white; /* Color de fondo al pasar el mouse */
   color: black; /* Color del texto al pasar el mouse */
 }
 
 /* Contenedor para el botón de cotización */
 .cotiza {
   display: flex; /* Agregando funciones flexibles en el cuadro */
   justify-content: center; /* Centrar el contenido */
   flex-wrap: wrap; /* Permitir que se ordenen sin que salgan del contenedor */
 }
 
 /* Ajustes al botón de cotización */
 .cotiza button {
   width: 200px; /* Ancho del botón */
   height: 30px; /* Alto del botón */
   padding: 2%; /* Margen interior */
   margin-top: 7%; /* Margen superior */
   border-radius: 7px; /* Redondear el botón */
 }
 
 /* Detalles generales para imágenes */
 img {
   border-radius: 2%; /* Radio de las imágenes */
   margin: 1%; /* Distancia externa de las imágenes */
 }
 
 /* Detalles de los textos */
 h1, h3, h4 {
   text-align: center; /* Alinear el texto al centro */
 }
 
 /* h1 en la vista principal */
 h1 {
   font-size: 4ch; /* Tamaño de la letra */
 }
 
 /* h2 en la vista principal */
 h2 {
   font-size: 33px; /* Tamaño de la letra */
 }
 
 /* h3 en información y contacto */
 h3 {
   font-size: 22px; /* Tamaño de la letra */
 }
 
 /* h4 solo en la vista principal */
 h4 {
   font-size: 18px; /* Tamaño de la letra */
 }
 
 /* label en la vista principal */
 label {
   font-size: 20px; /* Tamaño del texto */
 }
 
 /* Cabeza en información y galería como título de artículo */
 .cabeza {
   font-size: 30px; /* Tamaño del texto */
 }
 
 /* Imágenes en la vista principal */
 .imgpresenta {
   display: flex; /* Agregando funciones flexibles en el cuadro */
   justify-content: center; /* Centrar el contenido */
   flex-wrap: wrap; /* Permitir que se ordenen sin que salgan del contenedor */
 }
 
 /* Detalles para <hr> como líneas */
 .linea1 {
   background-color: white; /* Color del salto de línea */
   height: 1px; /* Altura */
   border: none; /* Sin borde */
   width: 100%; /* Largo de la línea */
 }
 
 .linea2 {
   background-color: white; /* Color del salto de línea */
   height: 2px; /* Altura */
   border: none; /* Sin borde */
   width: 100%; /* Largo de la línea */
 }
 
 /* En información */
 /* Cuadro de información en la vista información */
 .cuadroInfo {
   color: black; /* Color del texto en información */
   background-color: #f7eab3; /* Color de fondo */
   padding: 2% 10%; /* Margen interior */
   display: flex; /* Agregando funciones flexibles en el cuadro */
   justify-content: center; /* Centrar el contenido */
   flex-wrap: wrap; /* Permitir que se ordenen sin que salgan del contenedor */
 }
 
 /* Detalles para el botón "ver más" en el cuadroInfo */
 a { /* En este caso, etiqueta "a" de información */
   text-decoration: none; /* Sin decoración para quitar subrayado */
 }
 
 .vermas label {
   color: black; /* Color del texto negro */
 }
 
 .vermas label:hover {
   color: red; /* Color rojo al pasar el mouse */
 }
 
 /* En contacto */
 .cuadrocontacto { /* Contenedor de estructura en contacto */
   padding: 2% 10%; /* Margen interior */
   display: flex; /* Agregando funciones flexibles en el cuadro */
   justify-content: center; /* Centrar el contenido */
   flex-wrap: wrap; /* Permitir que se ordenen sin que salgan del contenedor */
 }
 
 /* Formulario para consultas por email */
 form {
   padding-left: 2%; /* Margen interior izquierdo */
   margin-top: -2%; /* Alineación de altura con la imagen */
 }
 
 /* Detalles del contacto y empresa */
 .infocontacto {
   width: 80%; /* Ancho a consideración del espacio que utiliza la imagen y el formulario */
   padding-left: 2%; /* Margen interior */
 }
 
 /* En galería */
 .cuadrogaleria {
   padding: 0 10%; /* Margen interior */
   display: flex; /* Agregando funciones flexibles en el cuadro */
   justify-content: center; /* Centrar el contenido */
   flex-wrap: wrap; /* Permitir que se ordenen sin que salgan del contenedor */
 }
 
 /* Detalles de imagen al pasar el mouse en img de galería */
 .imgGaleria:hover {
   transform: scale(1.15); /* Escalar imagen al pasar el mouse */
 }
 