/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Aplicar la fuente Poppins a toda la página */
body {
    font-family: 'Poppins', sans-serif; /* Fuente moderna y legible */
    font-size: 18px; /* Tamaño de fuente base más grande */
    color: #f0f0f0; /* Color claro para el texto */
    line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
    position: relative;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
    padding-top: 100px; /* Ajuste para la barra de navegación fija */
}
#fondo {
    background-image: url('../images/fondo1.jpg');
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    width: 100%;
    height: 100vh; /* Ocupar toda la altura de la ventana */
    position: relative;
   
}
.contenedor_interno {
    background: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 100%;
    border: solid;
   
}

/* Estilos para los títulos */
h1, h2, h3 {
    font-weight: 700; /* Texto en negrita */
    color: #ffffff; /* Color blanco para mejor contraste */
}

h1 {
    font-size: 2.5rem; /* Tamaño grande para el título principal */
}

h2 {
    font-size: 2rem; /* Tamaño ligeramente más pequeño para subtítulos */
}

/* Estilos para los párrafos */
p {
    font-size: 1.2rem; /* Aumentar tamaño de fuente de los párrafos */
    color: #f0f0f0; /* Color claro para el texto */
}

/* Estilo para el logo */
.logo-img {
    width: 50%;
    height: auto;
}

/* Barra de navegación */
.navbar {
    background-color: #fdfd10;
    height: 100px;
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que ocupe todo el ancho de la página */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Ajusta el contenido de la barra de navegación */
.navbar-brand img {
    height: 80px;
    width: auto;
    margin: 10px; /* Ajusta el margen si es necesario */
}

/* Iconos sociales */
.iconos img {
    width: 30px;
}


.contenedor_portada{
    width: 100%;
    height: 300px; /* Ajusta la altura según la del carrusel */
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
}

.contenedor_portada img {
    margin: auto;
    width: auto;
    max-width: 600px;
    max-height: 300px;
    object-fit: cover; /* Mantiene la proporción de la imagen sin distorsión */
}

/* Estilos para los botones */
.button {
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
